.scrollbar {
    height: 100px;

    // display: flex;

    .box-item {
        width: 50%;
        text-align: left;
        border-width: 0;
        border-radius: 10px;
        transition: all 0.2s;


    }

    .box-item:hover {
        background-color: rgb(146, 146, 146, 0.3)
    }

    .selected {
        background-color: rgba(66, 66, 66, 0.137) !important;
    }


}