.home-container {

    
    display: flex;
    .menu {
        margin: 40px;
        padding: 20px;
        flex-direction: column;
        height: 100%;
        background-color: rgba(245, 245, 245, 0.2);
        border-radius: 5px;
        box-shadow: 0 0 40px rgba(245, 245, 245, 0.5);
    }
    
    .map-container {
        .background {
            background-color: lightgreen;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .actual_maps{
            position: 0;
            height: 100%;
            width: 100%;
        }
    }


} 
